@using System.Data
@using ViELearn.BackEnd.Ultilities

@model DataTable

@{
    ViewBag.Title = "Cập nhật thông tin văn bản";
    Layout = "~/Views/Shared/_Layoutv3.cshtml";
}
@section stylePageLever{
    <link href="/UITheme/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/UITheme/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/UITheme/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <link href="/UITheme/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />

    <link href="/UITheme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/UITheme/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="/UITheme/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/UITheme/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/UITheme/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">

    <link href="/UITheme/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
    <link href="/UITheme/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.css" rel="stylesheet" type="text/css" />

    <link href="/UITheme/assets/global/plugins/dropzone/dropzone.min.css" rel="stylesheet" type="text/css" />
    <link href="/UITheme/assets/global/plugins/dropzone/basic.min.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .table-scrollable > .table > thead > tr > th {
            white-space: pre-wrap !important;
        }

        thead > tr > th {
            vertical-align: middle !important;
        }

        thead > tr:not(:first-child) > th {
            font-weight: normal !important;
            font-size: 85% !important;
        }

        .dropzone .note {
            border-left: 0 !important
        }

        .dz-preview {
            position: relative;
            display: inline-block;
            width: 120px;
            margin: 0.5em;
        }

        .modal {
            width: auto;
            min-width: 300px;
            left: 40%;
            top: 30%;
        }
    </style>
}
@section scriptMainPageLevel{
    <script src="/UITheme/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/UITheme/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <script src="/UITheme/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js" type="text/javascript"></script>
    <script src="/UITheme/assets/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>

    <script src="/UITheme/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="/UITheme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="/UITheme/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="/UITheme/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    @*<script src="/UITheme/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>*@
    <script src="/UITheme/assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
    <script src="/UITheme/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

    <script src="/UITheme/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js" type="text/javascript"></script>
    <script src="/UITheme/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="/UITheme/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>

    <script src="/UITheme/assets/global/plugins/dropzone/dropzone.min.js" type="text/javascript"></script>
}
@section scriptConfigPageLevel{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".select2").select2();

            $('.date-picker').datetimepicker({
                format: 'L',
                locale: 'vi',
                sideBySide: true
            });
            $('.datetime-picker').datetimepicker({
                format: 'L LT',
                locale: 'vi',
                sideBySide: true
            });
            $('.datetime-picker').on('dp.change', function (e) {
                //console.log(e.date); // Thời gian trước khi thay đổi
                //console.log('thoi gian: ' + $(this).val()); // Thời gian sau khi thay đổi

                // Kích hoạt sự kiện onchange
                $(this).change();
            })

            Dropzone.autoDiscover = false;
            $(".dropzone").dropzone({
                url: "/QuanLyVanBan/UploadFile?id=@ViewBag.Id",
                acceptedFiles: "image/jpg,image/jpeg,image/png,image/gif,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document",
            });
        });

        function ShowFilter(name, title) {
            $('.filter').each(function () {
                $(this).hide();
            });
            $('#' + name).show();

            $("#divData").html('');
            //$('#title').text(title);
        }

        function filterChilds(itm, childname) {
            var pid = $(itm).val();
            $("#" + childname + " > option").each(function () {
                if (pid == $(this).data("parent")) {
                    $(this).show();
                    $(this).prop("disabled", false);
                } else {
                    $(this).hide();
                    $(this).prop("disabled", true);
                }
            });
            $("#" + childname + " > option").first().prop("disabled", false);
            $("#" + childname).val(0).trigger('change');
            $("#" + childname).select2("destroy");
            $("#" + childname).select2({});
        }

        function submit(type) {
            $("#type").val(type);

            // Kiem tra du lieu dau vao
            $(".required-nonestyle").each(function () {
                var v = $(this).val();
                var title = $(this).parent().text().trim();
                if (typeof title != 'undefined') {
                    title = title.substr(0, title.indexOf(':')).trim();
                }
                if (typeof v == 'undefined' || v == '' || v == 0 || v == '0') {
                    bootbox.alert("Dữ liệu '" + title + "' không được để trống!");
                    return false;
                }
            });

            $.ajax({
                data: {
                    _coquan: $('#coquanbanhanh').val(),
                    _loaivb: $('#loaivanban').val(),
                    _linhvuc: $('#linhvuc').val(),
                    _tinhtrang: $('#tinhtrang').val(),
                    _trichyeu: $('#trichyeu').val(),
                    _trichyeu_slug: string_to_slug($('#trichyeu').val()),
                    _sovb: $('#sovanban').val(),
                    _kyhieu: $('#kyhieuvanban').val(),
                    _ngaybanhanh: $('#ngaybanhanh').val(),
                    _summary: $('#summary').val(),
                },
                type: 'POST',
                datatype: 'json',
                url: '/QuanLyVanBan/Save?id=@ViewBag.Id',
                success: function (responsive) {
                    if (responsive.status) {
                        if (type == 0) {
                            window.location.replace("/QuanLyVanBan");
                        } else if (type == 1) {
                            window.location.replace("/QuanLyVanBan/Create");
                        } else if (type == 2) {
                            window.location.replace("/QuanLyVanBan/Edit/" + responsive.newid);
                        }
                    } else {
                        bootbox.alert(responsive.message);
                    }
                },
                error: function (responsive) {
                    bootbox.alert("Có lỗi xảy ra!");
                }
            });
        }

        function delete_attachment(file_path) {
            bootbox.confirm({
                message: "Chắc chắn muốn xóa?",
                buttons: {
                    cancel: {
                        label: 'Thôi',
                        //className: 'btn-success'
                        className: 'btn-default'
                    },
                    confirm: {
                        label: 'Đồng ý xóa',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $('#btnDongBoDiem').attr('disabled', true);
                        $.ajax({
                            url: '/QuanLyVanBan/XoaFile',
                            type: 'POST',
                            datatype: 'json',
                            data: {
                                file_path: file_path
                            },
                            success: function (response) {
                                window.location.reload();
                            }
                        });
                    }
                }
            });
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
        function update_slug(itm) {
            $('#slug').val(string_to_slug($(itm).val().trim()));
        }
        function string_to_slug(str) {
            if (str == null || typeof (str) == 'undefined') return '';
            str = str.replace(/^\s+|\s+$/g, ''); // trim
            str = str.toLowerCase();

            // remove accents, swap ñ for n, etc
            var from = "áàảãạâấầẩẫậăắằẳẵặđéèẻẽẹêếềểễệíìỉĩịóòỏõọôốồổỗộơớờởỡợúùủũụưứừửữựýỳỷỹỵÁÀẢÃẠÂẤẦẨẪẬĂẮẰẲẴẶĐÉÈẺẼẸÊẾỀỂỄỆÍÌỈĨỊÓÒỎÕỌÔỐỒỔỖỘƠỚỜỞỠỢÚÙỦŨỤƯỨỪỬỮỰÝỲỶỸỴàáäâèéëêìíïîòóöôùúüûñç·/_:;";
            var to = "aaaaaaaaaaaaaaaaadeeeeeeeeeeeiiiiiooooooooooooooooouuuuuuuuuuuyyyyyaaaaaaaaaaaaaaaaadeeeeeeeeeeeiiiiiooooooooooooooooouuuuuuuuuuuyyyyyaaaaeeeeiiiioooouuuunc-----";
            for (var i = 0, l = from.length; i < l; i++) {
                str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
            }

            str = str.replace(/[^a-z0-9-,]/g, '') // remove invalid chars
                .replace(/\s+/g, '-') // collapse whitespace and replace by -
                .replace(/-+/g, '-') // collapse dashes
                .replace('"', '');

            return str;
        }
    </script>
}
@section actionMenu{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li><i class="fa fa-plus icon-home"></i> <i class="fa fa-angle-right"></i></li>
            <li><a href="/QuanLyVanBan">Danh sách</a> <i class="fa fa-angle-right"></i></li>
            <li><span>@ViewBag.Title</span></li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button class="btn btn-info" onclick="submit(1);"><i class="fa fa-save"></i> Lưu, nhập mới</button>
                <button class="btn btn-primary" onclick="submit(0);"><i class="fa fa-save"></i> Lưu xong đóng</button>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-12">
        <div class="form-group col-md-3">
            Cơ quan ban hành:
            <select name="coquanbanhanh" id="coquanbanhanh" class="form-control select2">
                <option value="0">-- Tất cả --</option>
                @foreach (DataRow dr in ViewBag.DsCoQuanBh.Rows)
                {
                    <option value="@dr["id"]" @(ViewBag.Infos["vb_coquan"].ToString() == dr["id"].ToString() ? "selected" : "")>@dr["TenDanhMuc"]</option>
                }
            </select>
        </div>
        <div class="form-group col-md-3">
            Loại văn bản:
            <select name="loaivanban" id="loaivanban" class="form-control select2">
                <option value="0">-- Tất cả --</option>
                @foreach (DataRow dr in ViewBag.DsLoaiVanBan.Rows)
                {
                    <option value="@dr["id"]" @(ViewBag.Infos["vb_loaivb"].ToString() == dr["id"].ToString() ? "selected" : "")>@dr["TenDanhMuc"]</option>
                }
            </select>
        </div>
        <div class="form-group col-md-3">
            Lĩnh vực:
            <select name="linhvuc" id="linhvuc" class="form-control select2">
                <option value="0">-- Tất cả --</option>
                @foreach (DataRow dr in ViewBag.DsLinhVuc.Rows)
                {
                    <option value="@dr["id"]" @(ViewBag.Infos["vb_linhvuc"].ToString() == dr["id"].ToString() ? "selected" : "")>@dr["TenDanhMuc"]</option>
                }
            </select>
        </div>
        <div class="form-group col-md-3">
            Tình trạng văn bản:
            <select name="tinhtrang" id="tinhtrang" class="form-control select2">
                <option value="1" @(ViewBag.Infos["vb_tinhtrang"].ToString() == "1" ? "selected" : "")>Còn hiệu lực</option>
                <option value="0" @(ViewBag.Infos["vb_tinhtrang"].ToString() == "0" ? "selected" : "")>Hết hiệu lực</option>
            </select>
        </div>
        <div class="form-group col-md-5">
            Trích yếu: <span class="font-red">(*)</span>
            <input name="trichyeu" id="trichyeu" class="form-control required-nonestyle" placeholder="Trích yếu" value="@ViewBag.Infos["Title"]" />
        </div>
        <div class="form-group col-md-2">
            Số văn bản:
            <input name="sovanban" id="sovanban" class="form-control" placeholder="Số văn bản" value="@ViewBag.Infos["vb_sovb"]" />
        </div>
        <div class="form-group col-md-2">
            Ký hiệu văn bản:
            <input name="kyhieuvanban" id="kyhieuvanban" class="form-control" placeholder="Ký hiệu văn bản" value="@ViewBag.Infos["vb_kyhieu"]" />
        </div>
        <div class="form-group col-md-3">
            Ngày ban hành:
            <input type="text" class="form-control date-picker" name="from" id="ngaybanhanh" value="@(ViewBag.Infos["vb_ngaybanhanh"].ToString() == "" || ViewBag.Infos["vb_ngaybanhanh"].ToString() == "0" ? DateTime.Now.ToString("dd/MM/yyyy") : CLibs.UnixTimeStampToDateTimeOrgin(int.Parse(ViewBag.Infos["vb_ngaybanhanh"].ToString())).ToString("dd/MM/yyyy"))" />
        </div>
        <div class="form-group col-md-12">
            Thông tin thêm:
            <textarea name="summary" id="summary" class="form-control">@ViewBag.Infos["Summary"]</textarea>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div class="form-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Văn bản đính kèm</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="dropzone needsclick dz-clickable" id="frm_dropzone">
                            <div class="dz-message needsclick">
                                <h3 class="sbold">Thả file văn bản dạng pdf vào đây</h3><br>
                                <span class="note needsclick">Các file văn bản được scan, có định dạng pdf<br />(dung lượng tối đa: 4MB)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <table class="table table-striped table-hover table-bordered datatable" id="dsBaiViet">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 35px;">#</th>
                                    <th class="text-center" style="width: 35px;">#</th>
                                    <th class="text-center" style="width: 80px;">Ngày tạo</th>
                                    <th class="text-center" style="width: 120px;">Dung lượng</th>
                                    @*<th class="text-center" style="width: 80px;">Tải về</th>*@
                                    <th>Tên file</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Directory.Exists(ViewBag.Files))
                                {
                                    var i = 1;
                                    foreach (var files in Directory.GetFiles(ViewBag.Files))
                                    {
                                        var info = new FileInfo(files);
                                        <tr>
                                            <td class="text-center">@i</td>
                                            <td class="text-center">
                                                @*<input type="checkbox" class="ckPH" value="@Path.GetFileName(info.FullName)" />*@
                                                <i class="fa fa-trash font-red-pink" style="cursor:pointer" onclick="delete_attachment('/UserData/@(SysBaseInfor.GetIdNguoiDung())/@ViewBag.Id/@Path.GetFileName(info.FullName)')"></i>
                                            </td>
                                            <td class="text-right">@(info.CreationTime.ToString("dd/MM/yyyy"))</td>
                                            <td class="text-right">@(info.Length / 1024) KB</td>
                                            @*<td class="text-center"><a href="/UserData/@(SysBaseInfor.GetIdNguoiDung())/@ViewBag.Id/@Path.GetFileName(info.FullName)" class="fa fa-download"></a></td>*@
                                            <td><a href="/UserData/@(SysBaseInfor.GetIdNguoiDung())/@ViewBag.Id/@Path.GetFileName(info.FullName)">@Path.GetFileName(info.FullName)</a></td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                        @*@if (Directory.Exists(ViewBag.Files))
                            {
                                foreach (var files in Directory.GetFiles(ViewBag.Files))
                                {
                                    var info = new FileInfo(files);
                                    <div class="dz-preview dz-processing dz-image-preview dz-success dz-complete">
                                        <img onclick="setusethumbnail(this)" style="max-height:120px;max-width:120px;cursor:pointer;" data-dz-thumbnail="" alt="@Path.GetFileName(info.FullName)" src='/UserData/@(SysBaseInfor.GetIdNguoiDung())/@(ViewBag.Id)/@Path.GetFileName(info.FullName)'>
                                    </div>
                                }
                            }*@
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
