@using System.Data

@model DataTable

@{
    ViewBag.Title = "Thêm gian hàng";
    Layout = "~/Views/Shared/_Layoutv2.cshtml";
}
@section titlePage{
    <h3 class="page-title">@ViewBag.Title</h3>
}
@section stylePageLever{
    <link href="/UITheme/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/UITheme/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/UITheme/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <link href="/UITheme/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .table-scrollable > .table > thead > tr > th {
            white-space: pre-wrap !important;
        }

        thead > tr > th {
            vertical-align: middle !important;
        }

        thead > tr:not(:first-child) > th {
            font-weight: normal !important;
            font-size: 85% !important;
        }
    </style>
}
@section scriptMainPageLevel{
    <script src="/UITheme/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/UITheme/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <script src="/UITheme/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js" type="text/javascript"></script>
    <script src="/UITheme/assets/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
}
@section scriptConfigPageLevel{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".select2").select2();

            $('.summernote').summernote({ height: 200 });

            $('.mt-multiselect').each(function () {
                var btn_class = $(this).attr('class');
                var clickable_groups = ($(this).data('clickable-groups')) ? $(this).data('clickable-groups') : false;
                var collapse_groups = ($(this).data('collapse-groups')) ? $(this).data('collapse-groups') : false;
                var drop_right = ($(this).data('drop-right')) ? $(this).data('drop-right') : false;
                var drop_up = ($(this).data('drop-up')) ? $(this).data('drop-up') : false;
                var select_all = ($(this).data('select-all')) ? $(this).data('select-all') : false;
                var width = ($(this).data('width')) ? $(this).data('width') : '';
                var height = ($(this).data('height')) ? $(this).data('height') : '';
                var filter = ($(this).data('filter')) ? $(this).data('filter') : false;

                // advanced functions
                var onchange_function = function (option, checked, select) {
                    alert('Changed option ' + $(option).val() + '.');
                }
                var dropdownshow_function = function (event) {
                    alert('Dropdown shown.');
                }
                var dropdownhide_function = function (event) {
                    alert('Dropdown Hidden.');
                }

                // init advanced functions
                var onchange = ($(this).data('action-onchange') == true) ? onchange_function : '';
                var dropdownshow = ($(this).data('action-dropdownshow') == true) ? dropdownshow_function : '';
                var dropdownhide = ($(this).data('action-dropdownhide') == true) ? dropdownhide_function : '';

                // template functions
                // init variables
                var li_template;
                if ($(this).attr('multiple')) {
                    li_template = '<li class="mt-checkbox-list"><a href="javascript:void(0);"><label class="mt-checkbox"> <span></span></label></a></li>';
                } else {
                    li_template = '<li><a href="javascript:void(0);"><label></label></a></li>';
                }

                // init multiselect
                $(this).multiselect({
                    nonSelectedText: ' -- Mời chọn -- ',
                    nSelectedText: ' được chọn',
                    showSearch: true,
                    searchText: 'Tìm, lọc',
                    enableClickableOptGroups: clickable_groups,
                    enableCollapsibleOptGroups: collapse_groups,
                    disableIfEmpty: true,
                    enableFiltering: filter,
                    includeSelectAllOption: select_all,
                    dropRight: drop_right,
                    buttonWidth: width,
                    maxHeight: height,
                    onChange: onchange,
                    onDropdownShow: dropdownshow,
                    onDropdownHide: dropdownhide,
                    buttonClass: btn_class,
                    //optionClass: function(element) { return "mt-checkbox"; },
                    //optionLabel: function(element) { console.log(element); return $(element).html() + '<span></span>'; },
        			/*templates: {
		                li: li_template,
		            }*/
                });
            });
        });

        function ShowFilter(name, title) {
            $('.filter').each(function () {
                $(this).hide();
            });
            $('#' + name).show();

            $("#divData").html('');
            //$('#title').text(title);
        }

        function filterChilds(itm, childname) {
            var pid = $(itm).val();
            $("#" + childname + " > option").each(function () {
                if (pid == $(this).data("parent")) {
                    $(this).show();
                    $(this).prop("disabled", false);
                } else {
                    $(this).hide();
                    $(this).prop("disabled", true);
                }
            });
            $("#" + childname + " > option").first().prop("disabled", false);
            $("#" + childname).val(0).trigger('change');
            $("#" + childname).select2("destroy");
            $("#" + childname).select2({});
        }

        function submit(type) {
            $("#type").val(type);

            // Kiem tra du lieu dau vao
            $(".required-nonestyle").each(function () {
                var v = $(this).val();
                var title = $(this).parent().text().trim();
                if (typeof title != 'undefined') {
                    title = title.substr(0, title.indexOf(':')).trim();
                }
                if (typeof v == 'undefined' || v == '' || v == 0 || v == '0') {
                    bootbox.alert("Dữ liệu '" + title + "' không được để trống!");
                    return false;
                }
            });

            $.ajax({
                data: {
                    _tengianhang: $('#tengianhang').val(),
                    _aliasurl: $('#aliasurl').val(),
                    _logourl: $('#logourl').val(),
                    _diachi: $('#diachi').val(),
                    _tinhtp: $('#tinhtp').val(),
                    _quanhuyen: $('#quanhuyen').val(),
                    _phuongxa: $('#phuongxa').val(),
                    _tieudegioithieu: $('#tieudegioithieu').val(),
                    _noidunggioithieu: $('#noidunggioithieu').val()
                },
                type: 'POST',
                datatype: 'json',
                url: '/GianHang/Save',
                success: function (responsive) {
                    if (responsive.status) {
                        if (type == 0) {
                            window.location.replace("/GianHang");
                        } else if (type == 1) {
                            window.location.replace("/GianHang/Create");
                        } else if (type == 2) {
                            window.location.replace("/GianHang/Edit/" + responsive.newid);
                        }
                    } else {
                        bootbox.alert(responsive.message);
                    }
                },
                error: function (responsive) {
                    bootbox.alert("Có lỗi xảy ra!");
                }
            });
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>
}
@section actionMenu{
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
            <li> <i class="fa fa-plus icon-home"></i> <i class="fa fa-angle-right"></i> </li>
            <li> <a href="/GianHang">Danh sách gian hàng</a> <i class="fa fa-angle-right"></i> </li>
            <li> <span>@ViewBag.Title</span> </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button class="btn btn-info" onclick="submit(1);"><i class="fa fa-save"></i> Lưu, nhập mới</button>
                <button class="btn btn-primary" onclick="submit(0);"><i class="fa fa-save"></i> Lưu xong đóng</button>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-7 col-md-6">
        <div class="row">
            <div class="form-group col-md-4">
                Tên gian hàng: <span class="font-red">(*)</span>
                <input name="tengianhang" id="tengianhang" class="form-control required-nonestyle" value="" />
            </div>
            <div class="form-group col-md-4">
                Url: <span class="font-red">(*)</span>
                <input name="aliasurl" id="aliasurl" class="form-control required-nonestyle" value="" />
            </div>
            <div class="form-group col-md-4">
                Logo url:
                <input name="logourl" id="logourl" class="form-control required-nonestyle" value="" />
            </div>
            <div class="form-group col-md-3">
                Số nhà:
                <input name="diachi" id="diachi" class="form-control required-nonestyle" value="" />
            </div>
            <div class="form-group col-md-3">
                Tỉnh/TP:
                <select name="tinhtp" id="tinhtp" class="form-control select2 required-nonestyle" style="width:100%" onchange="filterChilds(this, 'quanhuyen');">
                    <option value="0">-- Mời chọn --</option>
                    @foreach (DataRow dr in ViewBag.DsTinh.Rows)
                    {
                        <option value="@dr["id"]">@dr["TenDanhMuc"]</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                Quận/Huyện:
                <select name="quanhuyen" id="quanhuyen" class="form-control select2 required-nonestyle" style="width:100%" onchange="filterChilds(this, 'phuongxa');">
                    <option value="0">-- Mời chọn --</option>
                    @foreach (DataRow dr in ViewBag.DsHuyen.Rows)
                    {
                        <option value="@dr["id"]" data-parent="@dr["idDanhMucCha"]" disabled="disabled">@dr["TenDanhMuc"]</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                Phường/Xã:
                <select name="phuongxa" id="phuongxa" class="form-control select2 required-nonestyle" style="width:100%">
                    <option value="0">-- Mời chọn --</option>
                    @foreach (DataRow dr in ViewBag.DsXa.Rows)
                    {
                        <option value="@dr["id"]" data-parent="@dr["idDanhMucCha"]" disabled="disabled">@dr["TenDanhMuc"]</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-6">
        <div class="row">
            <div class="form-group col-md-12">
                Tiêu đề giới thiệu:
                <input name="tieudegioithieu" id="tieudegioithieu" class="form-control required-nonestyle" value="" />
            </div>
            <div class="form-group col-md-12">
                Nội dung giới thiệu:
                <textarea name="noidunggioithieu" id="noidunggioithieu" class="form-control required-nonestyle summernote" rows="4"></textarea>
            </div>
        </div>
    </div>
</div>
