@using ViELearn.BackEnd.Models
@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Đăng nhập hệ thống</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Đăng nhập hệ thống thông tin liên lạc" name="description" />
    <meta content="MDC Group" name="author" />
    <link rel="shortcut icon" href="/icon.png" />
        
    <link href="~/UITheme/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/UITheme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/UITheme/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/UITheme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/UITheme/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/UITheme/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/UITheme/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/UITheme/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/UITheme/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/UITheme/assets/layouts/layout/css/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/UITheme/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="~/UITheme/assets/pages/css/login.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="login">
    <style>
        @@media (max-width: 440px) {
            .logo img {
                width: 80px
            }
        }

        .login .logo {
            width: 400px;
            text-align: left;
            padding-left: 0;
        }

            .login .logo a {
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 27px;
            }

        .login .content {
            margin: 2px auto 10px;
        }
    </style><style>
    @@media (max-width: 440px) {
        .logo img {
            width: 80px
        }
    }

    .login .logo {
        width: 400px;
        text-align: left;
        padding-left: 0;
    }

        .login .logo a {
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 27px;
        }

    .login .content {
        margin: 2px auto 10px;
    }
</style>
    <div class="logo">
        @*chỗ này đề logo*@
    </div>
    <div class="content">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3 class="form-title font-green">ĐĂNG NHẬP HỆ THỐNG</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-12">
                        Tài khoản:
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        Mật khẩu:
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
                        <div class="col-md-12">
                            Đơn vị:
                            @Html.TextBoxFor(m => m.UnitName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UnitName, "", new { @class = "alert" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>*@
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Đăng nhập" class="btn btn-primary pull-right" />
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="copyright"> 2020 © copyright </div>
    <script src="~/UITheme/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/UITheme/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/UITheme/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/UITheme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/UITheme/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/UITheme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/UITheme/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/UITheme/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/UITheme/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/UITheme/assets/pages/scripts/login.min.js" type="text/javascript"></script>
</body>
</html>